.container {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:25%;
    aspect-ratio: 1/1.5;
    border:2px solid #223128;
    background-color: #2f2d2d;
    border-radius:15px;
    font-family:"orbitron";
}

.brand {
    border-bottom: 1px solid dimgrey;
    align-self: stretch;
    color: azure;
}

.brand h1 {
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:20px;
}

.display {
    background: #265d47;
    color: azure;
    align-self:stretch;
    flex-grow:2;
    align-content: center;
}

.display p {
    text-align:right;
    padding-right:15px;
    font-size:25px;
    font-family:"silkscreen";
}

.numpad {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:10px;
    margin-top:10%;
    width:90%;
    justify-content: flex-end;
}

.top-line {
    display:flex;
    justify-content: right;
    margin-bottom:10px;
    width:90%;
}

.top-line button {
    border: 1px solid black;
    color:black;
    border-radius:5px;
    margin-top:auto;
    margin-left: 10px;
    width:20%;
}

.mid-section {
    display:flex;
    flex-direction:column;
    aspect-ratio: 1/1;
    width:100%;
}

.mid-section .row {
    display:flex;
    justify-content: space-evenly;
}
.mid-section button {
    aspect-ratio: 1/1;
    flex-basis:40px;
    flex-grow:1;
    margin:3px;
}

button.op {
    background-color: darkred;
    color: azure;
    border:1px solid darkred;
    border-radius:10px;
}

button.num {
    border:1px solid black;
    border-radius:10px;
}

button {
    font-family:"orbitron";
    font-size:15px;
    font-weight:bold;
}

#eq {
    background-color: darkred;
    color: azure;
    border:1px solid darkred;
    border-radius:10px;
}